.contact-jumbotron {
    background-image: url("../../../assets/img/background/backandbox.gif");
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  
  #youtube-btn {
    border-color: #f83f37;
    color: #f83f37;
  }
  #youtube-btn:hover {
    background-color: #f83f37;
    color: #ffffff;
  }

  /* #504c80 */
  .contact-form{
    width: 80%;
    background-color: #1BD5BE;
    margin-bottom: 10%;
    border: none;
    border-radius:20px 20px 20px 20px;
    background-image: linear-gradient(to left, #159279, #0f92c5);
  }
